@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="aboutText">
        <h3>This application is built for students to keep track of pending assignments and tasks.</h3>  
        <br />
        <h4>Built in Spring 2015 - John Stamatakos</h4>
    </div>
</div>
