@model StudentPlanner.Models.AspNetUser

@{
    ViewBag.Title = Model.UserName;
}

<h2>@Model.UserName</h2>
<br />
<img class="userImage" src="@Model.ProfilePicture" />

<p>
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.Id })
</p>

<br />
<br />

<div id="courseList">
    @Html.Action("getCourses", new { id = Model.Id });
</div>